.chart-5-cont{
    margin: 0;
    width: 100%;
    height: 100%;
}
.chart-5-svg{
    position: relative;
    width: 100%;
    height: 100%;
}
.chart-5-legend{
    position: relative;
    margin: 0;
    font-size: 14px;
    width: 160px;
    text-align: center;
}
.chart-5-ul{
    position: relative;
    padding: 0;
    left: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows   : repeat(3, 1fr);
    justify-items: left;
    list-style-type: none;
}
.chart-5-ul li{
    font-size: .8em;
}
i{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
i.chart-5-i1{ background-color: #5A8DEE; }
i.chart-5-i2{ background-color: #00CFDD; }
i.chart-5-i3{ background-color: #FDAC41; }