<div class="card" *ngIf="isAuth">
  <div class="card-body">
    <h1 class="card-title">Вы уже авторизованы</h1>
  </div>
</div>

<div class="card" *ngIf="!isAuth">
  <div class="card-body">
    <h5 class="card-title">Авторизируйтесь</h5>
    <form (submit)="onSubmit($event)" [formGroup]="loginForm">
      <label
        class="label"
        for="login"
        [ngClass]="{
          'message-error':
            loginForm.get('login').invalid && loginForm.get('login').touched
        }"
        >Логин</label
      >
      <input
        class="input"
        formControlName="login"
        id="login"
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
        [ngClass]="{
          'message-error':
            loginForm.get('login').invalid && loginForm.get('login').touched
        }"
      />
      <span
        class="message-error"
        *ngIf="loginForm.get('login').invalid && loginForm.get('login').touched"
      >
        <span *ngIf="loginForm.get('login').errors['required']"
          >Не введён логин</span
        >
      </span>

      <label
        class="label"
        for="password"
        [ngClass]="{
          'message-error':
            loginForm.get('password').invalid && loginForm.get('password').touched
        }"
        >Пароль</label
      >
      <input
        class="input"
        formControlName="password"
        id="password"
        type="password"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default"
        [ngClass]="{
          'message-error':
            loginForm.get('password').invalid && loginForm.get('password').touched
        }"
      />
      <span
        class="message-error"
        *ngIf="
          loginForm.get('password').invalid && loginForm.get('password').touched
        "
      >
        <span *ngIf="loginForm.get('password').errors['required']"
          >Не введён пароль</span
        >
      </span>

      <!-- <div class="field-remember">
        <input id="remember" type="checkbox" />
        <label for="remember">Запомнить меня</label>
      </div> -->

      <button
        [disabled]="loginForm.invalid"
        type="submit"
        class="btn btn-primary btn-block"
      >
        Войти
      </button>
    </form>
  </div>
</div>
