<nb-card size='large'>
    <nb-card-body class="row">
        <nb-card class="col-3">
            <nb-card-body class="row">
                <nb-user class="col" size="large" name=""
                picture='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.imgflip.com%2F2%2Fs71u5.jpg&f=1&nofb=1'>
            </nb-user>
                <nb-form-field class="col" >
                <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
                <input icon='search-outline' type="text" nbInput shape="round" placeholder="поиск">
            </nb-form-field>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>