@import '../../@theme/styles/themes';
@include nb-install-component() {
    .small {
        font-size: 80%;
        font-weight: 400;
    }
    .card-row {
        display: flex;
        margin: 0 -0.5rem;
    }
    .has-flex {
        display: flex;
    }
     :host {
        display: block;
        max-height: 25rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .search-card,
    .content-card {
        height: 100%;
    }
    .col-9,
    .col-3 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-9 {
        max-width: 100%;
    }
    .has-card-distance {
        margin: 1rem;
        margin-top: 0.75rem;
    }
    .has-card-border {
        // border: 0.1625rem solid;
        border: outset;
    }
    // изменение высоты карт
    nb-card {
        margin-bottom: 0vh;
    }
    nb-user {}
    .search {
        max-height: 87.5vh;
        max-width: 20vw;
        min-width: 10vw;
    }
    .content {
        max-height: 87.5vh;
    }
    p {
        color: gray;
        font-size: 1rem;
        font-family: 'Rubik', sans-serif;
        text-align: center;
        margin-top: 0.5rem;
    }
    img {
        display: block;
        margin: 0 auto;
        text-align: center;
        box-shadow: 0 0 5px 0px lightgrey;
        height: 82px;
        width: 82px;
    }
    div a p {
        font-size: 0.9rem;
    }
    nb-accordion {
        box-shadow: none;
    }
}

.activeUser {
    background-color: #c3e3f8;
}