<div class="row">
    <div class="col-3 search">
        <nb-card class="search-card">
            <nb-card-header>
                <nb-form-field>
                    <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                    <input fieldSize="large" placeholder="Large" fullWidth type="text" nbInput shape="round" placeholder="Поиск" />
                </nb-form-field>
            </nb-card-header>
            <nb-card-body style="padding: 1rem 0rem">
                <nb-select size="tiny" nbPrefix icon="search-outline" fullWidth placeholder="Специальность" style="font-size: 1rem">
                    <nb-icon *ngIf="server.allusers" nbPrefix icon="search-outline" pack="eva"></nb-icon>
                    <nb-option *ngFor="let user of server.allusers;let index = index " value="index" style="font-size: 1rem">{{user.role}}</nb-option>

                </nb-select>


                <nb-accordion *ngIf="server.allusers">
                    <nb-accordion-item *ngFor="let user of server.allusers">
                        <nb-accordion-item-header (click)="GetUserToRoute(user.uuid)" style="justify-content: space-between;" [ngClass]="{activeUser: user.uuid == MAINUSER || (server.allusers[0].uuid == user.uuid && firstTime)}">
                            <nb-user badgeText="▢" size="giant" badgeStatus="success" badgePosition="bottom right" [name]="user.first_name" [title]="user.role" [picture]=" server.HOST + user.photo">
                            </nb-user>
                            <div style="padding-right: 20px;">
                                <nb-icon status="warning" icon="star" pack="eva"></nb-icon>
                            </div>

                        </nb-accordion-item-header>
                        <nb-accordion-item-body>

                            <nb-stepper orientation="vertical">
                                <nb-step label="mew">
                                </nb-step>
                                <nb-step label="mew 2">
                                </nb-step>
                                <nb-step label="mew 3">
                                </nb-step>
                                <nb-step label="mew 4">
                                </nb-step>
                            </nb-stepper>
                        </nb-accordion-item-body>

                    </nb-accordion-item>
                </nb-accordion>

            </nb-card-body>
            <nb-card-footer>
                <p class="styles_logoTitle__1Kvzk">
                    <b>+ добавить избранных пользователей</b>
                </p>
            </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-9 content">
        <nb-card class="content-card">
            <nb-card-header fixed>
                <div style="display: grid; grid-template-columns: repeat(7, 1fr); justify-items: center;">
                    <div *ngFor="let section of menu">
                        <a style="text-decoration: none;" [routerLink]="section.routerLink" (click)='sectionClick(section)'>
                            <img [src]="section.url" [ngClass]="{activeUser: section.active}" />
                            <p>{{section.title}}</p>
                        </a>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <router-outlet></router-outlet>
            </nb-card-body>
        </nb-card>
    </div>
</div>
