@import '../../@theme/styles/themes';
@include nb-install-component() {
    .small {
        font-size: 80%;
        font-weight: 400;
    }
    .row {
        display: flex;
        margin: 0 -0.5rem !important;
    }
    @media screen and (max-height: 890px) { 
        .row, .search-card {
            max-height: 88vh;
            overflow-y: hidden;
        }
    }
    @media screen and (max-height: 800px) { 
        .row, .search-card {
            max-height: 85.5vh;
            overflow-y: hidden;
        }
    }
    @media screen and (max-height: 750px) { 
        .row, .search-card {
            max-height: 84.5vh;
            overflow-y: hidden;
        }
    }
    @media screen and (max-height: 560px) { 
        .row, .search-card {
            max-height: 83vh;
            overflow-y: hidden;
        }
    }
    @media screen and (max-height: 450px) { 
        .row, .search-card {
            max-height: 82vh;
            overflow-y: hidden;
        }
    }
    @media screen and (max-height: 425px) { 
        .row, .search-card {
            max-height: 81vh;
            overflow-y: hidden;
        }
    }

    .has-flex {
        display: flex;
    }
     :host {
        display: block;
        max-height: 25rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .search-card,
    .content-card {
        height: 100%;
    }
    .col-9,
    .col-3 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-9 {
        max-width: 100%;
    }
    .has-card-distance {
        margin: 1rem;
        margin-top: 0.75rem;
    }
    .has-card-border {
        // border: 0.1625rem solid;
        border: outset;
    }
    // изменение высоты карт
    nb-card {
        margin-bottom: 0vh;
    }
    nb-user {}
    .search {
        max-height: 87.5vh;
        max-width: 20vw;
        min-width: 10vw;
    }
    .content {
        max-height: 87.5vh;
    }

    p {
        color: gray;
        font-size: 1rem;
        font-family: 'Rubik', sans-serif;
        text-align: center;
        margin-top: 0.5rem;
    }
    img {
        display: block;
        margin: 0 auto;
        text-align: center;
        box-shadow: 0 0 5px 0px lightgrey;
        height: 82px;
        width: 82px;
    }
    div a p {
        font-size: 0.9rem;
    }
    nb-accordion {
        box-shadow: none;
    }

/* Timeline */
/* ---------------- */
.widget-timeline li {
  padding: 1.1rem 0;
  list-style: none;
  position: relative;
}

.widget-timeline li.timeline-items:before {
  position: absolute;
  content: "";
  left: -37px;
  top: 17px;
  border: 3px solid #FFFFFF;
  box-shadow: 1px 2px 6px 0 rgba(25, 42, 70, 0.3);
  border-radius: 50%;
  background: #5A8DEE;
  height: 13px;
  width: 13px;
  z-index: 2;
}

.widget-timeline li.timeline-items.active:not(:last-child):after {
  position: absolute;
  content: "";
  width: 1px;
  background: #dfe3e7;
  left: -31px;
  top: 22px;
  height: 100%;
  z-index: 1;
}

.widget-timeline li.timeline-items .timeline-content {
  padding: 0.5rem 1rem;
  background-color: #fafbfb;
  border-radius: 0.267rem;
  display: flex;
  align-items: center;
}
.mat-figure{
  padding: 0px !important;
}
.widget-timeline li .timeline-time {
  float: right;
  color: #828D99;
  font-size: 0.9rem;
}

.widget-timeline li .timeline-title {
  margin-bottom: 0.25rem;
}

.widget-timeline li .timeline-text {
  margin-bottom: 0.5rem;
}
}

.activeUser {
    background-color: #c3e3f8;
}
