    // #formpicker {
    //     font-family: 'Rubik', sans-serif;
    // }
    input {
        width: 16rem;
        height: 3rem;
        border-radius: 5px !important;
        margin-bottom: 1rem;
    }
    
    @import '../../styles/themes';
    @include nb-install-component() {
        nb-icon {
            margin-bottom: 1rem;
        }
    }
    
    // ::placeholder {
    //     font-family: 'Rubik', sans-serif;
    // }