<div style="padding: 1rem 1.5rem;">
    <h2>Аналитика файлов</h2>
    <hr style="border: 2.5px #edf1f7 dashed;">

    <div class="row">
        <div class="col-sm-6 left">
            <h2>Графическое представление</h2>
        </div>
        <div class="col-sm-6 right">
            <h2 style="text-align: right;">Статистика по папкам</h2>
            <div class="folders">
                <nb-card class="showFolder" *ngFor="let item of files">
                    <nb-card-header>
                        <nb-icon icon="folder-outline"></nb-icon>
                        {{item.folderName}}
                    </nb-card-header>
                    <nb-card-body>
                        Файлов: {{item.amount}} ; Размер: {{item.totalVolume}}мб
                    </nb-card-body>
                    <nb-card-footer>
                        <span class="extensions" *ngFor="let ext of item.extensions">
            .{{ext}}</span>
                    </nb-card-footer>
                </nb-card>
            </div>
        </div>
    </div>
</div>