<div class="row grid-show">
    <nb-form-field>
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <input id="searchPass" (input)="filterPasswords()" fieldSize="large" placeholder="Large" fullWidth type="text" nbInput shape="round" placeholder="Поиск по сайтам" />
    </nb-form-field>

    <!-- Сгенерированная данные -->
    <nb-card *ngFor="let password of passwords">
        <nb-card-header>
            <h6>
                <a style="text-decoration: none; color: royalblue;" href="{{password.URL}}">{{password.URL}}</a>
            </h6>
        </nb-card-header>
        <nb-card-body>
        
            <input [type]="getInputType(password)" value="{{password.password}}" nbInput disabled
            style="color: black !important;">
            <button nbSuffix nbButton ghost (click)="toggleShowPassword(password)">
                <nb-icon [icon]="password.showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                            [attr.aria-label]="password.showPassword ? 'hide password' : 'show password'">
                </nb-icon>
            </button>
         
        </nb-card-body>
        <nb-card-footer>
            <p><b>Защищённость пароля:</b></p>
            <nb-list *ngIf="password.safety.length != 0; else noTroubles">
                <nb-list-item *ngFor="let trouble of password.safety">
                    <nb-icon style="margin-right: 1rem" status="danger" icon="alert-triangle-outline" pack="eva">
                    </nb-icon>
                    {{ trouble }}
                </nb-list-item>
            </nb-list>
            <ng-template #noTroubles>
                <p>
                    <nb-icon style="margin-right: 0.75rem" status="success" icon="checkmark-outline" pack="eva">
                    </nb-icon>
                    Пароль безопасен
                </p>
            </ng-template>

            <!-- <p>Кол-во символов  {{password.password.length}}</p> -->
        </nb-card-footer>
    </nb-card>
</div>