@import '../../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        box-shadow: -4px 4px 10px 0 rgba(25, 42, 70, .13);
        overflow-wrap: break-word;
    }
}

.grid-show {
    padding: 1rem;
    display: grid;
    grid-row-gap: 1rem !important;
    grid-column-gap: 2rem !important;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 60vw));
}