<div class="row grid-show">
    <!-- Данные с сервера -->
    <nb-card *ngFor="let card of screens">
        <nb-card-header>
            {{card.name}}
        </nb-card-header>
        <nb-card-body>
            <p>{{card.timestamp}}</p>
            <p>{{card.size}}</p>
        </nb-card-body>
    </nb-card>
    <!-- Сгенерированная данные -->
    <nb-card *ngFor="let card of dataArr">
        <nb-card-header>
            {{card.name}}
        </nb-card-header>
        <nb-card-body>
            <p>{{card.date}}</p>
            <p>{{card.size}}</p>
        </nb-card-body>
    </nb-card>
</div>