<div class="row grid-show">
    <!-- Данные с сервера -->
    <nb-card *ngFor="let card of screens">
        <nb-card-header>
            {{card.name}}
        </nb-card-header>
        <nb-card-body>
          <a target="_blank"  [href]="server.HOST+card.link">
          <img  style="border-radius: 8px;height: 200px;width: auto;" [src]="server.HOST+card.link">
        </a>

        </nb-card-body>
        <nb-card-footer>
          <p>Дата: {{card.timestamp}}</p>
          <p>Размер: {{card.size}} Кб</p>
        </nb-card-footer>
    </nb-card>
    <!-- Сгенерированная данные -->
    <nb-card *ngFor="let card of dataArr">
        <nb-card-header>
            {{card.name}}
        </nb-card-header>
        <nb-card-body>
            <p>{{card.date}}</p>
            <p>{{card.size}}</p>
        </nb-card-body>
    </nb-card>
</div>
