<section style="display:flex;justify-content: space-between;">
    <div style="justify-items: center;">
        <nb-form-field>

            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
            <input nbInput [nbFilterInput]="dataSource" class="search-input" type="text" placeholder="Поиск" />


        </nb-form-field>
    </div>
</section>

<table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

    <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
            {{ customColumn }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <nb-fs-icon-1 [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon-1>
            {{ row.data[customColumn] }}
        </td>
    </ng-container>

    <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column" [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
            {{ column }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
            {{ row.data[column] || "-" }}
        </td>
    </ng-container>
</table>