<div class="card-row" (window:resize)="onResize()" style="box-shadow: -4px 4px 10px 0 rgba(25, 42, 70, .13);">

    <!-- тип файлов -->
    <div class="card-col-10">
        <nb-card class="search-card">
            <nb-card-header *ngIf="screenWidth > 1050">
                <h6>Содержание</h6>
            </nb-card-header>
            <nb-card-body>
                <!-- список из разделов -->
                <nb-list>
                    <nb-list-item style="cursor: pointer;" 
                        *ngFor="let section of sections; let i = index" 
                        [ngClass]="{active: section.title == active}" 
                        (click)="documents.filterTableBySection(section)"
                        (click)="filterTable(section)"
                        (mouseenter)="deleteMode[i] = true"
                        (mouseleave)="deleteMode[i] = false"
                        style="padding-right: 0px;"
                        >

                        <nb-icon 
                            [ngClass]="{active: section.title == active}"
                            style="border: none !important; color: #8f9bb3"
                            icon="{{section.icon }}">
                        </nb-icon>
                        <span *ngIf="screenWidth > 1050" style="font-size: 1rem; font-weight: 500;">{{ section.title }}</span>

                        <nb-icon *ngIf="deleteMode[i]"
                            icon="close-outline"
                            style="margin-left: auto; color: lightcoral !important;"
                            (click)="hideSection(i)">
                        </nb-icon>

                    </nb-list-item>
                  </nb-list>
            </nb-card-body>
            <nb-card-footer [style]="screenWidth > 1050 ? 'padding: 1rem 1.5rem;' : ''">
                <!-- Место для кнопки: Добавить раздел -->
                <button 
                    class="btn-add-section"
                    (click)="open(dialog)" 
                    style="margin-bottom:5%; width: 100%;" 
                    size='medium' nbButton hero status="info"
                    [disabled]="sectionsHide.length == 0"><span *ngIf="screenWidth > 1050">+ Добавить раздел</span></button>
                <!-- Размер диска -->
                <div *ngIf="screenWidth > 1050" class="card-row" style="margin: auto;">
                    <div class="card-col-25">
                        <nb-icon icon="hard-drive-outline" style="width: 40px; height: 40px; object-fit: contain; margin-top: 1rem; margin-bottom:1.5rem"></nb-icon>
                    </div>
                    <div class="card-col-75">
                        <p class="paragraph-2">Объём данных</p>
                        <nb-progress-bar [value]="dataContains/dataTotal*100" status="info" 
                            style="white-space: nowrap; align-items: center;">
                        </nb-progress-bar>
                        <p class="paragraph-2 ratio">{{dataContains}} / {{dataTotal}} гб</p>
                    </div>
                </div>
            </nb-card-footer>
        </nb-card>
    </div>

    <div class="card-col-75">
        <!-- таблица -->
        <nb-card class="content-card">
            <nb-card-body>
                <documents #documents></documents>
            </nb-card-body>

        </nb-card>
    </div>
</div>

<ng-template #dialog>
    <nb-card [style]="screenWidth > 1050 ? 'width: 25vw; height: 50vh' : 'width: 50vw; height: 70vh'">
        <!-- <nb-card-header>
          <h4>Добавление раздела</h4>
        </nb-card-header> -->
        <nb-card-body>
            <h6>Скрытые разделы</h6>
            <nb-list>
                <nb-list-item 
                    style="cursor: pointer;" 
                    *ngFor="let section of sectionsHide"
                    (click)="addSection(section)">

                    <nb-icon 
                        style="border: none !important; color: #8f9bb3; margin-right: 1rem;" 
                        icon="{{ section.icon}}">
                    </nb-icon>
                    <span>{{ section.title }}</span>

                </nb-list-item>
            </nb-list>

            <!-- <h6 style="margin-top: 1rem;">Создайте собственный раздел</h6>
            <nb-select placeholder="эскиз" [(selected)]="selectedIcon">
                <nb-option *ngFor="let icon of icons" value="">
                    <nb-icon icon="{{icon}}"></nb-icon>
                </nb-option>
            </nb-select>
            <nb-icon *ngIf="selectedIcon != '0'" icon="{{icons[selectedIcon]}}"></nb-icon>
            <input nbInput type="text"  placeholder="Название раздела"/>
            <p style="margin-bottom: 0.3rem; margin-top: 1rem; font-size: 0.9375rem;">Расширения файлов</p>
            
            <input *ngFor="let item of extensions; let i = index" id="ext{{i}}" (change)="AddExtenstion(i)" nbInput type="text" placeholder=".расширение">
                
            <button (click)="addSection()" style='margin-bottom:5%' size='medium' nbButton hero status="info">Добавить раздел</button>
                 -->
        </nb-card-body>
    </nb-card>
</ng-template>
