@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
//   .menu-sidebar ::ng-deep .scrollable {
//     padding-top: nb-theme(layout-padding-top);
//   }
  nb-accordion {
    box-shadow: none;
    background-color: transparent;
    margin: 0rem -1rem;
  }
  nb-accordion-item {
    margin: 0rem -1rem;
  }
  nb-accordion-item-body, nb-list {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  nb-accordion-item-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  nb-list {
    margin-top: -20px;
    margin-bottom: -20px;
  }
  nb-list-item {
    padding: 0.75rem 0.8rem;
  }
  nb-accordion {
    border-bottom: 1px solid rgb(237, 241, 247);
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    margin: 0 -1.25rem -1.25rem;
    margin-top: -1.25rem;
    margin-bottom: 0rem;
  }

  // .styles_logoContainer__2IbFS, #logoText{
  //   position: relative;
  //   left: 15px;
  // }
  .styles_logoContainer__2IbFS{
    transform: scale(.8);
    position: relative;
    left: 10px;
  }
  hr {
    margin: 0 -1.25rem -1.25rem;
    margin-bottom: 0rem;
  }
  #logoText {
    margin-bottom: 1px;
    font-size: 17px;
    white-space: nowrap;
    color: #222b90;
  }

  .logo-cont-hidden{
    visibility: hidden;
  }
  .logo-cont-expanded{
    visibility: visible;
  }

  .iconToggleSidebar{
    margin-left: 15px;
    color: #8f9bb3;
  }
  .iconToggleSidebar:hover {
    color: #598bff;
  }

  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 7px;
    color:rgba(77, 82, 85, 0.199);
  }
}

