@import "../../../@theme/styles/themes";

@include nb-install-component() {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .small {
    font-size: 80%;
    font-weight: 400;
  }

  .card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  .has-flex {
    display: flex;
  }

  :host {
    display: block;
    max-height: 25rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  // ширина колонок
  // .card-col-25,
  // .card-col-75 {
  //   margin: 0rem;
  // }
  // .search-card,
  // .content-card {
  //   height: 100%;
  // }

  // .card-col-25 {
  //   flex: 1 0 calc(25% - 1rem);
  // }
  // .card-col-40 {
  //   flex: 1 0 calc(40% - 1rem);
  // }
  // .card-col-50 {
  //   flex: 1 0 calc(50% - 1rem);
  // }
  // .card-col-60 {
  //   flex: 1 0 calc(60% - 1rem);
  // }
  // .card-col-75 {
  //   flex: 1 0 calc(75% - 1rem);
  // }
  // @media (max-width: 1280px) {
  //   .card-col-25,
  //   .card-col-40 {
  //     flex: none;
  //     width: 100vw;
  //   }
  //   .card-col-50,
  //   .card-col-60,
  //   .card-col-75 {
  //     flex: none;
  //     width: 100vw;
  //   }
  //   .content-card {
  //     width: 140vw;
  //     height: 140vh;
  //   }
  //   .search-card {
  //     height: 140vh;
  //   }
  //   .card-row {
  //     flex: none;
  //     margin: 0 -0.5rem;
  //   }
  // }

  .has-card-distance {
    margin: 1rem;
    margin-top: 0.75rem;
  }
  .has-card-border {
    border: 0.1625rem solid #f2f4ee;
    // border: outset;
  }

  // изменение высоты карт
  // nb-card {
  //   margin-bottom: 0vh;
  //   // box-shadow: -4px 4px 10px 0 rgba(25,42,70,.13);
  // }
  .chart-label {
    position: relative;
    top: 0;
    left: 0.5rem;
    text-align: start;
  }
  ngx-chart13,
  ngx-chart12,
  ngx-chart11,
  ngx-chart10 {
    height: 100%;
  }

  // .content {
  //   max-height: 87.5vh;
  // }
  nb-card {
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0.35rem;
    height: 100%;
  }
  .card1 {
    height: 300px;
    width: auto;
  }
  .card2 {
    height: 300px;
    width: auto;
  }
  .card3 {
    height: 265px;
    width: auto;
  }
  .card4 {
    height: 265px;
    width: auto;
  }

  // Легенд к графикам -- начало
  .chart-label {
    position: relative;
    top: 0;
    left: 0.5rem;
    text-align: start;

    z-index: 998;
  }
  ngx-chart11,
  ngx-chart10 {
    position: relative;
    z-index: 998;
  }
  nb-card-back {
    height: 40%;
  }
  .card-leg {
    position: relative;
    box-shadow: none;
    background-color: transparent;

    z-index: 999;
  }
  .card-leg::before {
    height: 100%;
    width: 100%;
    position: absolute;
    content: "";
    background: linear-gradient(270deg, #edf1f7, #e4e9f2);
    opacity: 0.7;
  }
  .legend ul {
    & {
      display: inline-block;
      position: relative;
      left: 0;
      padding: 0;
      margin: 0.5rem;
    }
    li {
      list-style-type: none;
      i {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
    }
  }
  //// LEGEND FOR CHART 11
  .card-leg-chrt11 {
    top: 185%;
    .legend ul {
      :nth-child(1) i {
        border: #00ebc7 solid 6px;
      }
      :nth-child(2) i {
        border: #dbfb4b solid 6px;
      }
      :nth-child(3) i {
        border: #6246ea solid 6px;
      }
    }
  }
  //// LEGEND FOR CHART 10
  .card-leg-chrt10 {
    top: 180%;
    .legend ul {
      :nth-child(1) i {
        border: #00d68f solid 6px;
      }
      :nth-child(2) i {
        border: #ff9a00 solid 6px;
      }
      :nth-child(3) i {
        border: #ff3d71 solid 6px;
      }
    }
  }
  // Легенд к графикам -- конец

  p {
    color: gray;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-top: 0.5rem;
  }
  img {
    text-align: center;
    box-shadow: 0 0 5px 0px lightgrey;
  }
}
