<div class="row has-flex" style="width: 100%;">
    <div class="col-7">
        <nb-card class="has-card-distance has-card-border" style="height: 40vh;">
            <ngx-chart11></ngx-chart11>
        </nb-card>
    </div>

    <div class="col-5">
        <nb-card class="has-card-distance has-card-border" style="height: 40vh;">
        </nb-card>
    </div>
</div>

<div class="row" style="width: 100%;">
    <div class="col-4">
        <nb-card class="has-card-distance has-card-border" style="height: 27.5vh;">
            <ngx-chart10></ngx-chart10>
        </nb-card>

    </div>

    <div class="col-8">
        <nb-card class="has-card-distance has-card-border" style="height: 27.5vh;">
        </nb-card>
    </div>
</div>