<div class="row has-flex" style="width: 100%;">
    <div class="col-7">
        <nb-card class="has-card-distance has-card-border card1">
            <ngx-chart11></ngx-chart11>
        </nb-card>
    </div>

    <div class="col-5">
        <nb-card class="has-card-distance has-card-border card2">
            <ngx-chart12></ngx-chart12>
        </nb-card>
    </div>
</div>

<div class="row" style="width: 100%;">
    <div class="col-4">
        <nb-card class="has-card-distance has-card-border card3">
            <ngx-chart10></ngx-chart10>
        </nb-card>
    </div>

    <div class="col-8">
        <nb-card class="has-card-distance has-card-border card4">
            <ngx-chart13></ngx-chart13>
        </nb-card>
    </div>
</div>