<ngx-charts-heat-map
  [innerPadding]="2"
  [scheme]="colorScheme"
  [legend]="false"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="false"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [results]="multi"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-heat-map>









<!-- <apx-chart
    [colors]="chartOptions.colors"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [title]="chartOptions.title"
    [stroke]="chartOptions.stroke"
    [grid]="chartOptions.grid"
    [markers]="chartOptions.markers"
    [tooltip]="chartOptions.tooltip"
    [plotOptions]="chartOptions.plotOptions"
    [responsive]="chartOptions.responsive"
    [dataLabels]="chartOptions.dataLabels"
    [legend]="chartOptions.legend"
    [labels]="chartOptions.labels"
    [fill]="chartOptions.fill"
></apx-chart> -->
