<!-- <label class="search-label" for="search">Поиск файлов</label> -->
<nb-form-field>
    <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
    <input nbInput [nbFilterInput]="dataSource" class="search-input" type="text" placeholder="Поиск" />
    <!--вставить здесь то, что будет справа-->

    <!-- <div class="actions " style="float: right; ">
        <nb-icon icon="person-add-outline " pack="eva "></nb-icon>
        <nb-icon icon="trash-2-outline " pack="eva "></nb-icon>
        <nb-icon icon="more-vertical-outline " pack="eva "></nb-icon>
    </div> -->
</nb-form-field>

<!-- <input placeholder="Поиск файлов " nbInput [nbFilterInput]="dataSource " id="search " class="search-input " /> -->

<table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

    <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
            {{ customColumn }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row" style="align-items: center;">
            <nb-checkbox status="primary " [value]="checked" (change)="setCheckedStatus($event)"></nb-checkbox>
            {{ row.data[customColumn] }}
        </td>
    </ng-container>

    <ng-container [nbTreeGridColumnDef]="dateColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(dateColumn)" *nbTreeGridHeaderCellDef>
            {{ dateColumn }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row" style="align-items: center;">
            {{ row.data[dateColumn] || "- " }}
        </td>
    </ng-container>

    <ng-container [nbTreeGridColumnDef]="usersColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(usersColumn)" *nbTreeGridHeaderCellDef>
            {{ usersColumn }}
        </th>

        <td nbTreeGridCell *nbTreeGridCellDef="let row" class="users" style="align-items: center;">
            <!-- <nb-user class="user " *ngFor="let user of row.data[usersColumn] " size="large " name="Это юзер " title="Юзер " onlyPicture>
            </nb-user> -->
            <nb-user *ngFor="let user of server.allusers" (click)="open(user)" size="large" [name]="user.first_name" [title]="user.role" [picture]="server.HOST + user.photo" onlyPicture>
            </nb-user>

            <!-- {{row.data[usersColumn] || '-'}} -->
        </td>
    </ng-container>

    <ng-container [nbTreeGridColumnDef]="defaultColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(defaultColumn)" *nbTreeGridHeaderCellDef>
            {{ defaultColumn }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row" style="align-items: center;">
            <!-- {{ row.data[defaultColumn] || "- " }} -->
            <nb-icon icon="more-horizontal-outline" pack="eva"></nb-icon>
        </td>
    </ng-container>

    <!-- <ng-container *ngFor="let column of defaultColumn; let index=i ndex " [nbTreeGridColumnDef]="column "
  [showOn]="getShowOn(index) ">
    <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column) " *nbTreeGridHeaderCellDef>
      {{column}}
    </th>
    <td nbTreeGridCell *nbTreeGridCellDef="let row ">
      {{row.data[column] || '-'}}
    </td>
  </ng-container> -->
</table>