<div style="padding: 1rem 1.5rem; margin-bottom: 2rem;">
    <h3>Аналитика файлов</h3>
    <hr style="border: 2.5px #edf1f7 dashed;">

    <div class="row" style="max-height: 70vh;">
        <div class="col-sm-6 left" style="max-height: 50vh;">
            <h4 style="text-align: center;">Графическое представление</h4>
            <!-- Добавить сюда график -->
            <ngx-charts-bar-vertical-2d
                [scheme]="{ domain: ['rgb(4, 77, 140)', 'rgb(21, 205, 192)', 'rgb(167, 213, 245)'] }"
                [results]="filesChart"
                [barPadding]="5"
                [groupPadding]="30"
                [gradient]="true"
                [xAxis]="true"
                [yAxis]="false"
                [legend]="true"
                [showXAxisLabel]="false"
                [showYAxisLabel]="true"
                [xAxisLabel]="'разделы'"
                [legendTitle]="''"
            >
            </ngx-charts-bar-vertical-2d>
        </div>
        <div class="col-sm-6 right" >
            <nb-card style="box-shadow: none; border: none; height: 70vh; overflow-y: scroll;">
                <h4 style="text-align: center; margin-bottom: 1rem;">Статистика по папкам</h4>
                <div class="folders">
                    <nb-card class="showFolder" *ngFor="let item of files">
                        <nb-card-header>
                            <nb-icon icon="folder-outline"></nb-icon>
                            {{item.folderName}}
                        </nb-card-header>
                        <nb-card-body>
                            Файлов: {{item.amount}} ; Размер: {{item.totalVolume}}мб
                        </nb-card-body>
                        <nb-card-footer>
                            <span class="extensions" *ngFor="let ext of item.extensions">
                                .{{ext}}
                            </span>
                        </nb-card-footer>
                    </nb-card>
                </div>
            </nb-card>
        </div>
    </div>

    <!-- <hr style="border: 2.5px #edf1f7 dashed;"> -->
    
    <!-- <div class="row" style="margin-top: 20vh;">

    </div> -->
</div>

        <!-- <label class="search-label" for="search">Поиск файлов</label> -->
        <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
            <input nbInput [nbFilterInput]="dataSource" class="search-input" type="text" placeholder="Поиск" />
            <!--вставить здесь то, что будет справа-->
        
            <div class="actions" style="float: right;">
                <nb-icon icon="person-add-outline" pack="eva"></nb-icon>
                <nb-icon icon="trash-2-outline" (click)="deleteHighlightFiles()" [options]="{ animation: { type: 'shake' } }" pack="eva"></nb-icon>
                <nb-icon icon="more-vertical-outline" pack="eva"></nb-icon>
            </div>
        </nb-form-field>
        
        <!-- <input placeholder="Поиск файлов " nbInput [nbFilterInput]="dataSource " id="search " class="search-input " /> -->
        
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
        
            <ng-container [nbTreeGridColumnDef]="fileNameColumn" style="width: 50vw !important;">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(fileNameColumn)" *nbTreeGridHeaderCellDef style="width: 35vw !important;">
                    <nb-checkbox status="primary" [checked]="checkBoxsetAll" (change)="checkAll($event)"></nb-checkbox>
        
                    {{ fileNameColumn }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" style="align-items: center;">
                    <nb-checkbox status="primary " [checked]="row.data['checkbox']" (change)="setCheckedStatus(row, $event)"></nb-checkbox>
        
                    <nb-icon class="tableIcon" [icon]="row.data['favStar'] ? 'star' : 'star-outline' " [status]="row.data['favStar'] ? 'warning' : 'basic' " (click)="setStarStatus(row, $event) "></nb-icon>
                    <img [src]="row.data[fileNameColumn][0]" alt="Избранное" style="margin-right: 5px;" /> {{ row.data[fileNameColumn][1] }}
                </td>
            </ng-container>
        
            <!-- Невидимая дата для сортировки -->
            <ng-container [nbTreeGridColumnDef]="dateColumn" style="width: 0px; padding: 0px !important;">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 0px; padding: 0px !important;">
                    <!-- {{ dateColumn }} -->
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" style="align-items: center; width: 0px; padding: 0px !important;">
                    <!-- {{ row.data[dateColumn] || "-" }} -->
                </td>
            </ng-container>
        
            <ng-container [nbTreeGridColumnDef]="visibleDateColumn">
                <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(visibleDateColumn)" *nbTreeGridHeaderCellDef>
                    {{ visibleDateColumn }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" style="align-items: center;">
                    {{ row.data[dateColumn] || "-" }}
                </td>
            </ng-container>
        
            <ng-container [nbTreeGridColumnDef]="usersColumn">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                    {{ usersColumn }}
                </th>
                <!-- border-bottom: 1.5px solid lightgrey; border-top: 0px solid lightgrey; -->
                <td nbTreeGridCell *nbTreeGridCellDef="let row" class="users" style=" display: flex; flex-direction:row  ;height: 100%;">
                    <!-- <nb-user class="user " *ngFor="let user of row.data[usersColumn] " size="large " name="Это юзер " title="Юзер " onlyPicture>
                    </nb-user> -->
                    <nb-user *ngFor="let user of server.allusers" (click)="open(user)" size="large" [name]="user.first_name" [title]="user.role" [picture]="server.HOST + user.photo" onlyPicture>
                    </nb-user>
        
                    <!-- {{row.data[usersColumn] || '-'}} -->
                </td>
            </ng-container>
        
            <ng-container [nbTreeGridColumnDef]="actionColumn">
                <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="text-align: center;">
                    {{ actionColumn }}
                </th>
                <td nbTreeGridCell *nbTreeGridCellDef="let row" style="text-align: center;">
                    <!-- {{ row.data[actionColumn] || "- " }} -->
        
                    <nb-icon icon="more-horizontal-outline" pack="eva" [nbContextMenu]="items" nbContextMenuTrigger="hover" nbContextMenuTag="my-context-menu"></nb-icon>
                </td>
            </ng-container>
        
            <!-- <ng-container *ngFor="let column of actionColumn; let index=i ndex " [nbTreeGridColumnDef]="column "
          [showOn]="getShowOn(index) ">
            <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column) " *nbTreeGridHeaderCellDef>
              {{column}}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row ">
              {{row.data[column] || '-'}}
            </td>
          </ng-container> -->
        </table>