<div>
    <div style="float: right; position: absolute; right: 3%;">
        <button nbButton ghost size='large' status="primary"
                (click)="switchViewApproach(true)" [disabled]="viewTable"><nb-icon icon="menu-outline"></nb-icon></button>
        <button nbButton ghost size='large' status="primary"
                (click)="switchViewApproach(false)" [disabled]="!viewTable"><nb-icon icon="grid-outline"></nb-icon></button>
    </div>
    <div *ngIf="viewTable;else viewCard">
        <!-- {{screenshots |async | json}} -->
        <documents-table [tag]="'img'" [dataArr]="[]" [screenArr]="media "></documents-table>
    </div>
    <ng-template #viewCard>
        <div>
            <documents-cards [tag]="'img'" [dataArr]="[]" [screenArr]="media "></documents-cards>
        </div>
    </ng-template>
    <h1 class = 'subtitle-2' *ngIf="NoUser">
      Выберите пользователя
    </h1>

</div>
