<div>
    <div style="float: right; position: absolute; right: 3%;">
        <button nbButton ghost size='large' status="primary" 
                (click)="switchViewApproach(true)" [disabled]="viewTable"><nb-icon icon="menu-outline"></nb-icon></button>
        <button nbButton ghost size='large' status="primary" 
                (click)="switchViewApproach(false)" [disabled]="!viewTable"><nb-icon icon="grid-outline"></nb-icon></button>
    </div>
    <div *ngIf="viewTable;else viewCard">
        <!-- {{screenshots |async | json}} -->
        <documents-table [dataArr]="data" [screenArr]="media"></documents-table>
    </div>
    <ng-template #viewCard>
        <div>
            <documents-cards [dataArr]="data" [screenArr]="media"></documents-cards>
        </div>
    </ng-template>
</div>