
@import '../../@theme/styles/themes';

@include nb-install-component() {
  ngx-chartjs-bar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  :host {
    display: block;
    max-height: 25rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .card-col {
    flex: 1 0 calc(33% - 1rem);
    margin: 0 0.5rem;
  }
  .card-col-50 {
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
  }
  .card-col-25 {
    flex: 1 0 calc(25% - 1rem);
    margin: 0 0.5rem;
  }
}