<div class="row">


  <nb-card  class = 'col-6' size= 'large'>
    <nb-card-header>Аналитика интернет-соединения</nb-card-header>
    <nb-card-body>
      <ngx-chartjs-bar></ngx-chartjs-bar>
    </nb-card-body>
  </nb-card>


  <nb-calendar-range-showcase class = 'col-3' size= 'large'></nb-calendar-range-showcase>
  
</div>


<div class="card-row">
  <div class="card-col">
    <nb-card size="medium">
      <nb-card-header>Medium card</nb-card-header>
    </nb-card>
  </div>

  <div class="card-col">
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
    <nb-card size="tiny">
      <nb-card-header>Tiny card</nb-card-header>
    </nb-card>
  </div>

</div>