<div class="row">

<div class="col-6">
  <nb-card>
    <nb-card-header>Аналитика интернет-соединения</nb-card-header>
    <nb-card-body>
      <ngx-chartjs-bar></ngx-chartjs-bar>
    </nb-card-body>
  </nb-card>
  </div>
  <div class="col-3">
    <nb-card >
      <nb-card-body>
        
      <div id="calendar">
        <nb-calendar-range-showcase></nb-calendar-range-showcase>
      </div>
        
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-3">
    <nb-card >
      <nb-card-body>Hello from ngx-admin sandbox project.</nb-card-body>
    </nb-card>
  </div>
</div>
