<!-- Создаю макет -->
<div (window:resize)="onResize()" class="row" style="width: 100%;" *ngIf="!adaptCharts;else fitCharts">

    <div class="col-sm-6">
        <nb-reveal-card 
            (mouseenter)="isRevealed[8] = true"
            (mouseleave)="isRevealed[8] = false"
            [revealed]="isRevealed[8]"
            [showToggleButton]="false">
            <nb-card-front>
                <nb-card class="template-left-top-card" size="large">
                    <ngx-chart9></ngx-chart9>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card class="card-leg card-leg-chrt9">
                    <div class="legend">
                        <ul>
                            <li><i></i> Оплачено</li>
                            <li><i></i> Отменено</li>
                            <li><i></i> Выполняются</li>
                        </ul>
                    </div>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
        <!-- <nb-card class="template-left-top-card" size="large">
            <ngx-chart9></ngx-chart9>
        </nb-card> -->
        <div class="row">
            <div class="col-sm-6 small">
                <nb-card class="template-left-bottom-card" size="small">
                    <ngx-chart7></ngx-chart7>
                </nb-card>
            </div>
            <div class="col-sm-6 small">
                <nb-reveal-card
                    (mouseenter)="isRevealed[7] = true"
                    (mouseleave)="isRevealed[7] = false"
                    [revealed]="isRevealed[7]"
                    [showToggleButton]="false">
                    <nb-card-front>
                        <nb-card class="template-left-bottom-card" size="small">
                            <p class="chart-label">Соотношение расходов по отделам</p>
                            <ngx-chart8></ngx-chart8>
                        </nb-card>
                    </nb-card-front>
                    <nb-card-back>
                        <nb-card class="card-leg card-leg-chrt8">
                            <div class="legend">
                                <ul>
                                    <li><i></i> Отдел маркетинга</li>
                                    <li><i></i> Отдел разработки</li>
                                    <li><i></i> Отдел поддержки</li>
                                </ul>
                            </div>
                        </nb-card>
                    </nb-card-back>
                </nb-reveal-card>
                <!-- <nb-card class="template-left-bottom-card" size="small">
                    <p class="chart-label">Соотношение расходов по отделам</p>
                    <ngx-chart8></ngx-chart8> -->
                    <!-- <div class="legend">
                        <ul>
                            <li><i></i> Отдел маркетинга</li>
                            <li><i></i> Отдел разработки</li>
                            <li><i></i> Отдел поддержки</li>
                        </ul>
                    </div> -->
                <!-- </nb-card> -->
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <nb-card class="template-right-top-card" size="small">
            <ngx-chart5></ngx-chart5>
        </nb-card>
        <nb-card class="template-right-medium-card" size="small">
            <p class="chart-label">Задач выполнено</p>
            <ngx-chart1></ngx-chart1>
        </nb-card>
        <nb-card class="template-right-bottom-card" size="tiny">
            <ngx-chart6></ngx-chart6>
        </nb-card>
    </div>

    <div class="col-sm-3">
        <nb-card class="template-right-top-card" size="small">
            <ngx-chart2></ngx-chart2>
        </nb-card>
        <nb-reveal-card
            (mouseenter)="isRevealed[2] = true"
            (mouseleave)="isRevealed[2] = false"
            [revealed]="isRevealed[2]"
            [showToggleButton]="false">
            <nb-card-front>
                <nb-card class="template-right-medium-card" size="small">
                    <!-- <p class="chart-label">Соотношение новых и ушедших клиентов</p> -->
                    <ngx-chart3></ngx-chart3>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card class="card-leg card-leg-chrt3">
                    <div class="legend">
                        <ul>
                            <li><i></i> Новые клиенты</li>
                            <li><i></i> Ушедшие клиенты</li>
                        </ul>
                    </div>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
        <!-- <nb-card class="template-right-medium-card" size="small">
            <ngx-chart3></ngx-chart3>
        </nb-card> -->
        <nb-card class="template-right-bottom-card" size="tiny">
            <ngx-chart4></ngx-chart4>
        </nb-card>
    </div>

</div>

<ng-template #fitCharts>
    <div class="row" style="width: 100%; margin-left:0px; margin-right:0px;">

        <div class="col-sm-6">
            <nb-card class="template-left-top-card" size="large">
                <ngx-chart9></ngx-chart9>
            </nb-card>
            <!-- <div class="row">
                <div class="col-sm-6 small"> -->
            <nb-card class="template-left-bottom-card" size="small">
                <ngx-chart7></ngx-chart7>
            </nb-card>
        </div>

        <!-- </div> -->
        <!-- </div> -->


        <div class="col-sm-6">
            <nb-card class="template-right-top-card" size="small">
                <ngx-chart5></ngx-chart5>
            </nb-card>
            <nb-card class="template-right-medium-card" size="small">
                <ngx-chart1></ngx-chart1>
            </nb-card>
            <nb-card class="template-right-bottom-card" size="tiny">
                <ngx-chart6></ngx-chart6>
            </nb-card>
        </div>
        <div class="col-sm-6">
            <nb-card class="template-right-medium-card" size="small">
                <ngx-chart2></ngx-chart2>
            </nb-card>
            <nb-reveal-card 
                (mouseenter)="isRevealed[7] = true"
                (mouseleave)="isRevealed[7] = false"
                [revealed]="isRevealed[7]"
                [showToggleButton]="false">
                <nb-card-front>
                    <nb-card class="template-left-bottom-card" size="small">
                        <p class="chart-label">Расходов по отделам</p>
                        <ngx-chart8></ngx-chart8>
                    </nb-card>
                </nb-card-front>
                <nb-card-back>
                    <nb-card class="card-leg card-leg-chrt8">
                        <div class="legend">
                            <ul>
                                <li><i></i> Отдел маркетинга</li>
                                <li><i></i> Отдел разработки</li>
                                <li><i></i> Отдел поддержки</li>
                            </ul>
                        </div>
                    </nb-card>
                </nb-card-back>
            </nb-reveal-card>
            <!-- <nb-card class="template-left-bottom-card" size="small">
                <ngx-chart8></ngx-chart8>
            </nb-card> -->
        </div>

        <div class="col-sm-6">
            <nb-card class="template-right-bottom-card" size="tiny">
                <ngx-chart4></ngx-chart4>
            </nb-card>
            <nb-reveal-card
                (mouseenter)="isRevealed[2] = true"
                (mouseleave)="isRevealed[2] = false"
                [revealed]="isRevealed[2]"
                [showToggleButton]="false">
                <nb-card-front>
                    <nb-card class="template-right-medium-card" size="small">
                        <!-- <p class="chart-label">Соотношение новых и ушедших клиентов</p> -->
                        <ngx-chart3></ngx-chart3>
                    </nb-card>
                </nb-card-front>
                <nb-card-back>
                    <nb-card class="card-leg card-leg-chrt3">
                        <div class="legend">
                            <ul>
                                <li><i></i> Новые клиенты</li>
                                <li><i></i> Ушедшие клиенты</li>
                            </ul>
                        </div>
                    </nb-card>
                </nb-card-back>
            </nb-reveal-card>
            <!-- <nb-card class="template-right-medium-card" size="small">
                <ngx-chart3></ngx-chart3>
            </nb-card> -->
        </div>
    </div>
</ng-template>

<!-- <hr style="border: 2.5px white dashed;"> -->