@import '../../@theme/styles/themes';
@include nb-install-component() {
    // ngx-chartjs-bar {
    //     display: block;
    //     height: nb-theme(card-height-medium);
    //     width: 100%;
    //      ::ng-deep chart {
    //         display: block;
    //         height: 100%;
    //         width: 100%;
    //     }
    // }
     :host {
        display: block;
        max-height: 25rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
    // .card-row {
    //     display: flex;
    //     margin: 0 -0.5rem;
    // }
    @media (max-width: 1280px) {
        .card-row {
            flex-direction: column;
        }
    }
    // .card-col {
    //     flex: 1 0 calc(33% - 1rem);
    //     margin: 0 0.5rem;
    // }
    // // изменение ширины колонок
    // .card-col-50 {
    //     flex: 1 0 calc(50% - 1rem);
    //     margin: 0 0.5rem;
    // }
    // .card-col-25 {
    //     flex: 1 0 calc(25% - 1rem);
    //     margin: 0 0.5rem;
    // }
    // .col-sm-6, .col-sm-3 {
    //   padding: 0 0.5rem;
    // }
    // изменение высоты карт
    nb-card, nb-reveal-card {
        // margin-bottom: 3vh;
        // margin-bottom: 1.875rem;
        box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, .13);
        border: none;
        border-radius: 0.35rem;
    }
    @media screen and ( max-width: 575px) {
        nb-card, nb-reveal-card {
            box-shadow: 0px 12px 18px 0 rgba(25, 42, 70, .13);
        }
    }

    .template-left-top-card {
        height: 553px;
        width: auto;
    }
    .template-left-bottom-card {
        height: 194px;
        width: auto;
    }
    .template-right-top-card {
        height: 285px;
        width: auto;
    }
    .template-right-medium-card {
        height: 335px;
        width: auto;
    }
    .template-right-bottom-card {
        height: 95px;
        width: auto;
    }

    ngx-chart1{
        height: 100%;
    }
    // Легенд к графикам -- начало
    .chart-label{
        position: relative;
        top: 0;
        left: .5rem;
        text-align: start;
        font-weight: 600;
        z-index: 998;
    }
    ngx-chart3, ngx-chart8, ngx-chart9{
        position: relative;
        z-index: 998;
    }
    nb-card-back{
        height: 40%;
    }
    .card-leg{
        position: relative;
        box-shadow: none;
        background-color: transparent;

        z-index: 999;
    }
    .card-leg::before{
        height: 100%;
        width: 100%;
        position: absolute;
        content: '';
        background: linear-gradient(270deg,#edf1f7,#e4e9f2);
        opacity: .7;
    }
    .legend ul{
        &{ 
            display: inline-block;
            position: relative;
            bottom: 60%;
            left: 0;
            padding: 0;
            margin: .5rem;
        }
        li{
            list-style-type: none;
            i{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }
        }
    }
    //// LEGEND FOR CHART 3
    .card-leg-chrt3{
        top: 210%;
        .legend ul{
            :nth-child(1) i{ border: #26A0FC solid 6px; }
            :nth-child(2) i{ border: #FEB019 solid 6px; }
        }
    }
    //// LEGEND FOR CHART 8
    .card-leg-chrt8{
        top: 153%;
        .legend ul{
            :nth-child(1) i{ border: #5A8DEE solid 6px; }
            :nth-child(2) i{ border: #00CFDD solid 6px; }
            :nth-child(3) i{ border: #FDAC41 solid 6px; }
        }
    }
    //// LEGEND FOR CHART 9
    .card-leg-chrt9{
        top: 216%;
        .legend ul{
            :nth-child(1) i{ border: #00473e solid 6px; }
            :nth-child(2) i{ border: #7f5af0 solid 6px; }
            :nth-child(3) i{ border: #f9bc60 solid 6px; }
        }
    }
    // Легенд к графикам -- конец
}