@import '../../../@theme/styles/themes';
@include nb-install-component() {
    nb-card-header {
        padding-bottom: 3px;
        text-align: justify;
    }
    nb-card-body {
        font-size: 0.9375rem;
    }
    nb-card-footer {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 0.9375rem;
    }
    nb-card {
        box-shadow: -4px 4px 10px 0 rgba(25, 42, 70, .13);
    }
}

.folders {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
@media screen and (max-width: 1650px) {
    .folders {
        grid-template-columns: repeat(3, 1fr);
        overflow-y: scroll;
    }
}
@media screen and (max-width: 900px) {
    .folders {
        grid-template-columns: repeat(2, 1fr);
        overflow-y: scroll;
    }
}
@media screen and (max-width: 650px) {
    .folders {
        grid-template-columns: repeat(1, 1fr);
        overflow-y: scroll;
        height: 40vh;
    }
}

.showFolder {
    min-width: 14vw;
}

.extensions {
    margin-left: 3px;
    margin-right: 3px;
    justify-items: center;
}

h2 {
    margin-bottom: 2rem;
    color: lightgrey;
}